<!-- наследование шаблона default -->
{% extends 'flatpages/default.html' %}

{% load custom_filters %} <!-- не забываем заранее загружать наши фильтры! -->

{% block title %} News {% endblock title %}

{% block content %}

<h2 align="center">Special news:</h2>
{% if news %}
<table class="table">
    <thead class="thead-dark" align="center">
      <tr>
        <th scope="col">Author</th>
        <th scope="col">Title</th>
        <th scope="col">Publication Date</th>
        <th scope="col">First 50 characters of text</th>
      </tr>
    </thead>
    {% for post in object_list %}
    <tbody align="center">
        <tr>
            <th scope="row">{{ post.post_link_author}}</th>
            <td><a href="{% url 'post' post.id %}">{{ post.title|censor:'*****' }}</a></td>
            <td>{{ post.post_data|date:'Y-m-d H:i' }}</td>
            <td>{{ post.text|truncatewords:50|censor:'*****'}}</td>
        </tr>
    </tbody>
        {% endfor %}
</table>
    <!-- Проверяем что поддерживается постраничный вывод -->
    {% if is_paginated %}
    <div align="center">
        Всего новостей на этой старанице: {{ news | length }}
        <br>
        страница {{ page_obj.number}} из {{ page_obj.paginator.num_pages }} страниц
        <br>
        {% if page_obj.has_previous %}
            <a href="?page=1">First</a>
            <a href="?page={{ page_obj.previous_page_number }}"><<<</a>
        {% endif %}
        {% for num in page_obj.paginator.page_range %}
            {% if page_obj.number == num %}
                <a>{{ num }}</a>
            {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
                <a href="?page={{ num }}">{{ num }}</a>
            {% endif %}
        {% endfor %}

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">>>></a>
            <a href="?page={{ page_obj.paginator.num_pages }}">Last</a>
        {% endif %}
    </div>
    {% endif%}

    <!-- -->
    <!--<p align="center">Для перехода на саму статью отчет идет с 4 и далее, например, news/4 и т.д.</p>-->
{% else %}
    <h1>Новостей нет</h1>
{% endif %}
{% endblock content %}